:root {
	--clemson-orange:#F66733;
	--regalia:#522D80;
	--regalia-light:rgba(82,45,128,0.1);
	--fort-hill:#FFFFFF;
	--tillman-brick:#A25016;
	--howards-rock:#685C53;
	--innovation:#86898C;
	--blue-ridge:#3A4958;
	--centennial-oak:#562E19;
	--hartwell-moon:#D4C99E;
}

.page-header{
	color: var(--fort-hill);
	background-color: var(--clemson-orange);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.btn-clemson-orange {
	color: var(--fort-hill);
	background-color: var(--clemson-orange);
	border-color: var(--clemson-orange);
}

.btn-clemson-purple{
	color: var(--fort-hill);
	background-color: var(--regalia);
	border-color: var(--regalia);
}

.btn-clemson-alt {
  color: var(--blue-ridge);
  background-color: var( --hartwell-moon);
  border-color: var( --hartwell-moon);
}

.jumbotron-clemson{
	background-color: var(--regalia-light);
}

.card-clemson .card-header{
	background-color: rgba(82, 45, 128, 0.8);
	color: var(--fort-hill);
}

.card-clemson .card-body{
	background-color: var(--regalia-light);
}

.custom-navbar{
	background-color: var(--blue-ridge);
}